body{
    margin: 0px; 
    padding: 0px;
}

#map{
}

#search {
    width: 250px;
}

.results {
    max-width: 250px;
    max-height: 200px;
    overflow: auto;
}

.results > div {
    cursor: pointer;
    background: white;

}
